@model IList<BDFA.Models.Profile>

@if (Model != null)
{
    @foreach (var profile in Model)
    {
        <div class="col d-flex align-items-stretch">
            <div class="card">
                @if (profile.UrlStore != null)
                {
                    <a href="@profile.UrlStore" class="profile-link" data-profile-id="@profile.RowId" title="Author's Direct Store"><img src="./i/@profile.Image" class="card-img-top p-1 image-profile" alt="@profile.Author"></a>
                }
                <div class="card-body">
                    @if (profile.Author != null)
                    {
                        <h5 class="card-title">@profile.Author</h5>
                    }
                    @if (profile.Tagline != null && profile.Tags != null)
                    {
                        <p class="card-text">
                            @profile.Tagline
                            <br /><br /><i class="fa-solid fa-hashtag fa-lg"></i>&nbsp;@profile.Tags
                        </p>
                    }
                </div>
                <div class="card-link" style="padding: 5px;">
                    @if (profile.UrlStore != null)
                    {
                        <p><a href="@profile.UrlStore" data-profile-id="@profile.RowId" type="button" class="btn btn-primary profile-link">Author's Direct Store</a></p>
                        <a href="@profile.UrlStore" class="profile-link me-1" data-profile-id="@profile.RowId" title="Author's Direct Store"><i class="fa-solid fa-store fa-lg" style="color: #212121;"></i></a>
                    }
                    @if (profile.UrlNewsletter != null)
                    {
                        <a href="@profile.UrlNewsletter" class="profile-link me-1" data-profile-id="@profile.RowId" title="Author Newsletter"><i class="fa-solid fa-envelope-open fa-lg" style="color: #25D366;"></i></a>
                    }
                    @if (profile.UrlFBPage != null)
                    {
                        <a href="@profile.UrlFBPage" class="profile-link me-1" data-profile-id="@profile.RowId" title="Facebook Page"><i class="fa-brands fa-facebook fa-lg" style="color: #1877F2;"></i></a>
                    }
                    @if (profile.UrlFBGroup != null)
                    {
                        <a href="@profile.UrlFBGroup" class="profile-link me-1" data-profile-id="@profile.RowId" title="Facebook Group"><i class="fa-brands fa-square-facebook fa-lg" style="color: #1877F2;"></i></a>
                    }
                    @if (profile.UrlIG != null)
                    {
                        <a href="@profile.UrlIG" class="profile-link me-1" data-profile-id="@profile.RowId" title="Instagram"><i class="fa-brands fa-instagram fa-lg" style="color: #E4405F;"></i></a>
                    }
                    @if (profile.UrlTikTok != null)
                    {
                        <a href="@profile.UrlTikTok" class="profile-link me-1" data-profile-id="@profile.RowId" title="TikTok"><i class="fa-brands fa-tiktok fa-lg" style="color: #69C9D0;"></i></a>
                    }
                    @if (profile.UrlThreads != null)
                    {
                        <a href="@profile.UrlThreads" class="profile-link me-1" data-profile-id="@profile.RowId" title="Threads"><i class="fa-brands fa-threads fa-lg" style="color: #1877F2;"></i></a>
                    }
                    @if (profile.UrlX != null)
                    {
                        <a href="@profile.UrlX" class="profile-link me-1" data-profile-id="@profile.RowId" title="X"><i class="fa-brands fa-x-twitter fa-lg" style="color: #000000;"></i></a>
                    }
                    @if (profile.UrlReam != null)
                    {
                        <a href="@profile.UrlReam" class="profile-link me-1" data-profile-id="@profile.RowId" title="Ream Stories"><i class="fa-solid fa-layer-group fa-lg" style="color: #9838FF;"></i></a>
                    }
                    @if (profile.UrlPatreon != null)
                    {
                        <a href="@profile.UrlPatreon" class="profile-link me-1" data-profile-id="@profile.RowId" title="Patreon"><i class="fa-brands fa-patreon fa-lg" style="color: #FF424D;"></i></a>
                    }
                    @if (profile.UrlOther != null)
                    {
                        <a href="@profile.UrlOther" class="profile-link me-1" data-profile-id="@profile.RowId" title="Additional Author Link"><i class="fa-solid fa-link fa-lg" style="color: #FF4500;"></i></a>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <p>No profiles available.</p>
}
<script>
    $(document).ready(function () {
        attachProfileLinkListeners();
    });
</script>
