@page
@model BDFA.Pages.AdminModel

<nav class="navbar bg-body-tertiary mb-5">
    <form class="container-fluid justify-content-start">
        <button id="showProfiles" class="btn btn-outline-success me-2 active" type="button">Profiles</button>
        <button id="showStats" class="btn btn-outline-success me-2" type="button"><i class="fa-solid fa-chart-simple"></i></button>
        <button id="showSettings" class="btn btn-outline-success me-2" type="button"><i class="fa-solid fa-gear"></i></button>
    </form>
</nav>

<div class="container">

    <div id="Profiles" class="row">
        <div class="table-responsive">
            <table class="table caption-top table-hover">
                <caption><h3>Profiles</h3></caption>
                <thead class="table-dark">
                    <tr>
                        <th>Author</th>
                        <th>Email</th>
                        <th class="text-center">Active</th>
                        <th class="text-center">Featured</th>
                        <th class="text-center">Stats</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var profile in Model.Profiles)
                    {
                        <tr>
                            <td nowrap><a href="profile?function=edit&id=@profile.RowId" data-bs-toggle="tooltip" data-bs-title="Click to edit Profile">@profile.Author</a></td>
                            <td><a href="profile?function=edit&id=@profile.RowId" data-bs-toggle="tooltip" data-bs-title="Click to edit Profile">@profile.Email</a></td>
                            @if (profile.Active)
                            {
                                <td align="center"><a href="?function=status&status=0&id=@profile.RowId" data-bs-toggle="tooltip" data-bs-title="Mark this Profile Inactive"><i class="fa-regular fa-circle-check"></i></a></td>
                            }
                            else
                            {
                                <td align="center"><a href="?function=status&status=1&id=@profile.RowId" data-bs-toggle="tooltip" data-bs-title="Mark this Profile Active"><i class="fa-regular fa-circle"></i></a></td>
                            }
                            @if (profile.FeaturedAuthor)
                            {
                                <td align="center"><a href="?function=featured&status=0&id=@profile.RowId" data-bs-toggle="tooltip" data-bs-title="Remove from Featured Authors"><i class="fa-regular fa-circle-check"></i></a></td>
                            }
                            else
                            {
                                <td align="center"><a href="?function=featured&status=1&id=@profile.RowId" data-bs-toggle="tooltip" data-bs-title="Add to Featured Authors"><i class="fa-regular fa-circle"></i></a></td>
                            }
                            <td align="center"><a href="profile?function=stats&id=@profile.RowId" data-bs-toggle="tooltip" data-bs-title="Show Stats for this Profile"><i class="fa-solid fa-chart-simple"></i></a></td>
                            <td align="center"><a href="?function=delete&id=@profile.RowId" data-bs-toggle="tooltip" data-bs-title="Delete this Profile"><i class="fa-regular fa-circle-xmark"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="Stats" class="row" style="display:none;">
        <div class="table-responsive">
            <table class="table caption-top table-hover">
                <caption><h3>Site Stats</h3></caption>
            </table>
            Coming Soon
        </div>
    </div>

    <div id="Settings" class="row" style="display:none;">
        <div class="table-responsive">
            <table class="table caption-top table-hover">
                <caption><h3>Site Settings</h3></caption>
            </table>

            <form asp-page="Admin" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="bg-danger border-1 mb-3"></div>

                <div class="card">
                    <div class="card-header fw-bold">
                        <h3>Featured Deals</h3>
                    </div>
                    <div>
                        <div>

                            <div class="row row-cols-1 g-4 mx-auto d-flex justify-content-center">
                                <div class="col">
                                    <div class="card m-2">
                                        @if (Model.DealImage1 != null)
                                        {
                                            <a href="?function=deleteDeal&id=1"><i class="fa-solid fa-trash m-1"></i></a>
                                            <br />
                                            <a href="@Model.DealURL1" target="_blank"><img src="./i/@Model.DealImage1" class="card-img-top p-1 image-profile"></a>
                                        }
                                        <div class="card-body">
                                            <i class="fa-solid fa-image"></i>
                                            <label asp-for="Image1File" class="form-label">Image for Deal 1</label>
                                            <input asp-for="Image1File" class="form-control" type="file" />
                                            <span asp-validation-for="Image1File" class="text-danger"></span>
                                        </div>
                                        <div class="card-body">
                                            <i class="fa-solid fa-link"></i>
                                            <label asp-for="DealURL1" class="form-label">URL for Deal 1</label>
                                            <input value="@Model.DealURL1" asp-for="DealURL1" class="form-control" type="text" />
                                            <span asp-validation-for="DealURL1" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-cols-1 g-4 mx-auto d-flex justify-content-center">
                                <div class="col">
                                    <div class="card m-2">
                                        @if (Model.DealImage2 != null)
                                        {
                                            <a href="?function=deleteDeal&id=2"><i class="fa-solid fa-trash m-1"></i></a>
                                            <br />
                                            <a href="@Model.DealURL2" target="_blank"><img src="./i/@Model.DealImage2" class="card-img-top p-1 image-profile"></a>
                                        }
                                        <div class="card-body">
                                            <i class="fa-solid fa-image"></i>
                                            <label asp-for="Image2File" class="form-label">Image for Deal 2</label>
                                            <input asp-for="Image2File" class="form-control" type="file" />
                                            <span asp-validation-for="Image2File" class="text-danger"></span>
                                        </div>
                                        <div class="card-body">
                                            <i class="fa-solid fa-link"></i>
                                            <label asp-for="DealURL2" class="form-label">URL for Deal 2</label>
                                            <input value="@Model.DealURL2" asp-for="DealURL2" class="form-control" type="text" />
                                            <span asp-validation-for="DealURL2" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-cols-1 g-4 mx-auto d-flex justify-content-center">
                                <div class="col">
                                    <div class="card m-2">
                                        @if (Model.DealImage3 != null)
                                        {
                                            <a href="?function=deleteDeal&id=3"><i class="fa-solid fa-trash m-1"></i></a>
                                            <br />
                                            <a href="@Model.DealURL3" target="_blank"><img src="./i/@Model.DealImage3" class="card-img-top p-1 image-profile"></a>
                                        }
                                        <div class="card-body">
                                            <i class="fa-solid fa-image"></i>
                                            <label asp-for="Image3File" class="form-label">Image for Deal 3</label>
                                            <input asp-for="Image3File" class="form-control" type="file" />
                                            <span asp-validation-for="Image3File" class="text-danger"></span>
                                        </div>
                                        <div class="card-body">
                                            <i class="fa-solid fa-link"></i>
                                            <label asp-for="DealURL3" class="form-label">URL for Deal 3</label>
                                            <input value="@Model.DealURL3" asp-for="DealURL3" class="form-control" type="text" />
                                            <span asp-validation-for="DealURL3" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary m-4">Update Featured Deals</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    $(document).ready(function () {
        $("#showProfiles").click(function () {
            $("#showProfiles").addClass("active");
            $("#showSettings").removeClass("active");
            $("#showStats").removeClass("active");
            $("#Profiles").show();
            $("#Settings").hide();
            $("#Stats").hide();
        });
        $("#showStats").click(function () {
            $("#showProfiles").removeClass("active");
            $("#showSettings").removeClass("active");
            $("#showStats").addClass("active");
            $("#Profiles").hide();
            $("#Settings").hide();
            $("#Stats").show();
        });
        $("#showSettings").click(function () {
            $("#showProfiles").removeClass("active");
            $("#showSettings").addClass("active");
            $("#showStats").removeClass("active");
            $("#Profiles").hide();
            $("#Settings").show();
            $("#Stats").hide();
        });
    });
</script>