@page
@model BDFA.Pages.ProfileModel
@using System.Data
@using BDFA.BL
@using BDFA.Models

<!-- Navigation buttons for different tabs -->
<div class="btn-group bg-body-tertiary mb-4" role="group" aria-label="Navigation">
    <a id="showView" class="btn btn-outline-success active" type="button" href="?tab=View"><i class="fa-solid fa-user me-1"></i>View Profile</a>
    <a id="showEdit" class="btn btn-outline-success" type="button" href="?tab=Edit"><i class="fa-solid fa-gear me-1"></i>Edit Profile</a>
    <a id="showStats" class="btn btn-outline-success" type="button" href="?tab=Stats"><i class="fa-solid fa-chart-simple me-1"></i>View Stats</a>
</div>
<a href="./Login" class="btn mb-4" title="Logout"><i class="fas fa-sign-out-alt"></i></a>

<div class="container">

    <!-- View Profile Section -->
    <div id="View" class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-auto g-4">
        <div class="col-12 d-flex align-items-stretch text-center">
            <div class="card">
                @if (Model.UrlStore != null)
                {
                    <!-- Display author's image with a link to their store -->
                    <a href="@Model.UrlStore" target="_blank" title="Author's Direct Store"><img src="./i/@Model.Image" class="card-img-top p-1" alt="@Model.Author"></a>
                }
                <div class="card-body">
                    @if (Model.Author != null)
                    {
                        <!-- Display author's name -->
                        <h5 class="card-title">@Model.Author</h5>
                    }
                    else
                    {
                        <!-- Prompt to create a listing if author name is not set -->
                        <p class="card-text">Click on the Edit Profile button above to create your listing.</p>
                    }
                    @if (Model.Tagline != null && Model.Tags != null)
                    {
                        <!-- Display author's tagline and tags -->
                        <p class="card-text">
                            @Model.Tagline
                            <br /><br /><i class="fa-solid fa-hashtag fa-lg"></i>&nbsp;@Model.Tags
                        </p>
                    }
                </div>
                <div class="card-link" style="padding: 5px;">
                    <!-- Display various social media and other links if available -->
                    @if (Model.UrlStore != null)
                    {
                        <p><a href="@Model.UrlStore" target="_blank" type="button" class="btn btn-primary">Author's Direct Store</a></p>
                        <a href="@Model.UrlStore" class="me-1" target="_blank" title="Author's Direct Store"><i class="fa-solid fa-store fa-lg me-0" style="color: #212121;"></i></a>
                    }
                    @if (Model.UrlNewsletter != null)
                    {
                        <a href="@Model.UrlNewsletter" class="me-1" target="_blank" title="Author Newsletter"><i class="fa-solid fa-envelope-open fa-lg me-0" style="color: #25D366;"></i></a>
                    }
                    @if (Model.UrlFBPage != null)
                    {
                        <a href="@Model.UrlFBPage" class="me-1" target="_blank" title="Facebook Page"><i class="fa-brands fa-facebook fa-lg" style="color: #1877F2;"></i></a>
                    }
                    @if (Model.UrlFBGroup != null)
                    {
                        <a href="@Model.UrlFBGroup" class="me-1" target="_blank" title="Facebook Group"><i class="fa-brands fa-square-facebook fa-lg" style="color: #1877F2;"></i></a>
                    }
                    @if (Model.UrlIG != null)
                    {
                        <a href="@Model.UrlIG" class="me-1" target="_blank" title="Instagram"><i class="fa-brands fa-instagram fa-lg" style="color: #E4405F;"></i></a>
                    }
                    @if (Model.UrlTikTok != null)
                    {
                        <a href="@Model.UrlTikTok" class="me-1" target="_blank" title="TikTok"><i class="fa-brands fa-tiktok fa-lg" style="color: #69C9D0;"></i></a>
                    }
                    @if (Model.UrlThreads != null)
                    {
                        <a href="@Model.UrlThreads" class="me-1" target="_blank" title="Threads"><i class="fa-brands fa-threads fa-lg" style="color: #1877F2;"></i></a>
                    }
                    @if (Model.UrlX != null)
                    {
                        <a href="@Model.UrlX" class="me-1" target="_blank" title="X"><i class="fa-brands fa-x-twitter fa-lg" style="color: #000000;"></i></a>
                    }
                    @if (Model.UrlReam != null)
                    {
                        <a href="@Model.UrlReam" class="me-1" target="_blank" title="Ream Stories"><i class="fa-solid fa-layer-group fa-lg" style="color: #9838FF;"></i></a>
                    }
                    @if (Model.UrlPatreon != null)
                    {
                        <a href="@Model.UrlPatreon" class="me-1" target="_blank" title="Patreon"><i class="fa-brands fa-patreon fa-lg" style="color: #FF424D;"></i></a>
                    }
                    @if (Model.UrlYouTube != null)
                    {
                        <a href="@Model.UrlYouTube" class="me-1" target="_blank" title="YouTube"><i class="fa-brands fa-youtube fa-lg" style="color: #CD201F;"></i></a>
                    }
                    @if (Model.UrlOther != null)
                    {
                        <a href="@Model.UrlOther" class="me-1" target="_blank" title="Additional Author Link"><i class="fa-solid fa-link fa-lg" style="color: #FF4500;"></i></a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="Edit" class="row" style="display:none;">
        <div class="col-12">
            <form asp-page="Profile" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="bg-danger border-1 mb-3"></div>

                <div class="mb-3">
                    <i class="fa-solid fa-at"></i>
                    <label asp-for="Email" class="form-label">Email</label>
                    <i class="fa-solid fa-star-of-life text-primary"></i>
                    <input value="@Model.Email" asp-for="Email" class="form-control" type="email" aria-describedby="EmailHelp" placeholder="name@example.com" autocomplete="email" required disabled />
                    <div id="EmailHelp" class="form-text">Your Email</div>
                </div>

                <div class="mb-3">
                    <i class="fa-regular fa-address-card"></i>
                    <label asp-for="Author" class="form-label">Author Name</label>
                    <i class="fa-solid fa-star-of-life text-primary"></i>
                    <input value="@Model.Author" asp-for="Author" class="form-control" type="text" aria-describedby="AuthorHelp" placeholder="Firstname Lastname" required />
                    <div id="AuthorHelp" class="form-text">Author Name (this will appear on the website so please use the pen name you prefer)</div>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <i class="fa-solid fa-image"></i>
                    <label asp-for="ImageFile" class="form-label">Image</label>
                    <i class="fa-solid fa-star-of-life text-primary"></i>
                    <input asp-for="ImageFile" id="ImageFile" class="form-control" type="file" aria-describedby="ImageHelp" />
                    <div id="ImageHelp" class="form-text">Please upload a png or jpg file that is LESS than 2 MB. Images greater than 1MB will not be accepted. You can use a site like this to compress your image: <a href="https://tinyjpg.com" target="_blank">https://tinyjpg.com</a></div>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <i class="fa-solid fa-file-lines"></i>
                    <label asp-for="Tagline" class="form-label">Tagline</label>
                    <i class="fa-solid fa-star-of-life text-primary"></i>
                    <input value="@Model.Tagline" asp-for="Tagline" class="form-control" type="text" aria-describedby="TaglineHelp" placeholder="Steamy Heartfelt Romance" required />
                    <div id="TaglineHelp" class="form-text">Tagline (ONE sentence ONLY) - this will appear on the website under your store link.</div>
                </div>

                <div class="mb-3">
                    <i class="fa-solid fa-hashtag"></i>
                    <label asp-for="Tags" class="form-label">Search terms/tropes</label>
                    <i class="fa-solid fa-star-of-life text-primary"></i>
                    <input value="@Model.Tags" asp-for="Tags" class="form-control" type="text" aria-describedby="TagsHelp" placeholder="steamy romance, small town romance, romantasy, enemies to lovers, grumpy-sunshine, vampire romance" required />
                    <div id="TagsHelp" class="form-text">Search terms/tropes - these will be searchable on the site to help readers find you. 8 search terms MAXIMUM.</div>
                </div>

                <div class="mb-3">
                    <i class="fa-solid fa-store"></i>
                    <label asp-for="UrlStore" class="form-label">Direct Store Link</label>
                    <i class="fa-solid fa-star-of-life text-primary"></i>
                    <input value="@Model.UrlStore" asp-for="UrlStore" class="form-control" type="url" aria-describedby="UrlStoreHelp" placeholder="https://your-store.com" required />
                    <div id="UrlStoreHelp" class="form-text">Direct Store Link (this will be your store link featured on the site. You can use any link you want. A link to your bundle page. A link to your store's home page. Whatever you prefer)</div>
                </div>

                <div class="mb-3">
                    <i class="fa-solid fa-envelope-open"></i>
                    <label asp-for="UrlNewsletter" class="form-label">Newsletter</label>
                    <input value="@Model.UrlNewsletter" asp-for="UrlNewsletter" class="form-control" type="url" aria-describedby="UrlNewsletterHelp" placeholder="https://newsletter-link.com" />
                    <div id="UrlNewsletterHelp" class="form-text">Newsletter sign-up link if you'd like it linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-brands fa-facebook"></i>
                    <label asp-for="UrlFBPage" class="form-label">Facebook Page</label>
                    <input value="@Model.UrlFBPage" asp-for="UrlFBPage" class="form-control" type="url" aria-describedby="UrlFBPageHelp" placeholder="https://facebook.com/page" />
                    <div id="UrlFBPageHelp" class="form-text">Link to your Facebook page if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-brands fa-square-facebook"></i>
                    <label asp-for="UrlFBGroup" class="form-label">Facebook Group</label>
                    <input value="@Model.UrlFBGroup" asp-for="UrlFBGroup" class="form-control" type="url" aria-describedby="UrlFBGroupHelp" placeholder="https://facebook.com/group" />
                    <div id="UrlFBGroupHelp" class="form-text">Link to your Facebook reader group if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-brands fa-instagram"></i>
                    <label asp-for="UrlIG" class="form-label">Instagram</label>
                    <input value="@Model.UrlIG" asp-for="UrlIG" class="form-control" type="url" aria-describedby="UrlIGHelp" placeholder="https://instagram.com/profile" />
                    <div id="UrlIGHelp" class="form-text">Link to IG if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-brands fa-tiktok"></i>
                    <label asp-for="UrlTikTok" class="form-label">TikTok</label>
                    <input value="@Model.UrlTikTok" asp-for="UrlTikTok" class="form-control" type="url" aria-describedby="UrlTikTokHelp" placeholder="https://tiktok.com/profile" />
                    <div id="UrlTikTokHelp" class="form-text">Link to TikTok if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-brands fa-threads"></i>
                    <label asp-for="UrlThreads" class="form-label">Threads</label>
                    <input value="@Model.UrlThreads" asp-for="UrlThreads" class="form-control" type="url" aria-describedby="UrlThreadsHelp" placeholder="https://threads.net/profile" />
                    <div id="UrlThreadsHelp" class="form-text">Link to Threads if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-brands fa-x-twitter"></i>
                    <label asp-for="UrlX" class="form-label">X</label>
                    <input value="@Model.UrlX" asp-for="UrlX" class="form-control" type="url" aria-describedby="UrlXHelp" placeholder="https://x.com/profile" />
                    <div id="UrlXHelp" class="form-text">Link to X if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-solid fa-layer-group"></i>
                    <label asp-for="UrlReam" class="form-label">Ream Stories</label>
                    <input value="@Model.UrlReam" asp-for="UrlReam" class="form-control" type="url" aria-describedby="UrlReamHelp" placeholder="https://reamstories.com/page/profile" />
                    <div id="UrlReamHelp" class="form-text">Link to Ream Stories if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-brands fa-patreon"></i>
                    <label asp-for="UrlPatreon" class="form-label">Patreon</label>
                    <input value="@Model.UrlPatreon" asp-for="UrlPatreon" class="form-control" type="url" aria-describedby="UrlPatreonHelp" placeholder="https://patreon.com/profile" />
                    <div id="UrlPatreonHelp" class="form-text">Link to Patreon if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-brands fa-youtube"></i>
                    <label asp-for="UrlYouTube" class="form-label">YouTube</label>
                    <input value="@Model.UrlYouTube" asp-for="UrlYouTube" class="form-control" type="url" aria-describedby="UrlYouTubeHelp" placeholder="https://youtube.com/profile" />
                    <div id="UrlYouTubeHelp" class="form-text">Link to YouTube if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <div class="mb-3">
                    <i class="fa-solid fa-link"></i>
                    <label asp-for="UrlOther" class="form-label">Other Link</label>
                    <input value="@Model.UrlOther" asp-for="UrlOther" class="form-control" type="url" aria-describedby="UrlOtherHelp" placeholder="https://substack.com/profile" />
                    <div id="UrlOtherHelp" class="form-text">If you have a Substack or other URL that isn't your main direct store, please list the link here if you'd like it to be linked at the bottom of your listing</div>
                </div>

                <button type="submit" class="btn btn-primary">Save Profile</button>
            </form>
        </div>
    </div>

    <div id="Stats" class="row" style="display:none;">
        @{
            // Retrieve distinct links asynchronously
            List<string> links = await Model.GetDistinctLinksAsync();
            List<BDFA.Models.ClickDataGroup> clickDataGroups = null;

            // Retrieve click data asynchronously based on provided filters
            clickDataGroups = await Model.GetClickDataAsync(BL.Globals.pId, Model.fClickedLink, Model.fStartDate, Model.fEndDate);

            // Sorting logic
            var sortColumn = Request.Query["sortColumn"]; // Get the column to sort by from the query string
            var sortOrder = Request.Query["sortOrder"];   // Get the sort order (asc or desc) from the query string

            if (clickDataGroups != null)
            {
                // Sort the click data groups based on the specified column and order
                switch (sortColumn)
                {
                    case "Link":
                        clickDataGroups = sortOrder == "asc"
                        ? clickDataGroups.OrderBy(c => c.Link).ToList() // Sort by Link in ascending order
                        : clickDataGroups.OrderByDescending(c => c.Link).ToList(); // Sort by Link in descending order
                        break;
                    case "Clicks":
                        clickDataGroups = sortOrder == "asc"
                        ? clickDataGroups.OrderBy(c => c.ClickCount).ToList() // Sort by ClickCount in ascending order
                        : clickDataGroups.OrderByDescending(c => c.ClickCount).ToList(); // Sort by ClickCount in descending order
                        break;
                }
            }
        }

        <nav class="navbar bg-body-tertiary">
            <form method="post" asp-page="Profile">
                <span class="p-4"><b>Filter:</b></span>
                <label asp-for="fClickedLink" class="me-2">Link</label>
                <select id="fClickedLink" asp-for="fClickedLink" required class="me-2 limited-width-select">
                    <option value="0">All Links</option>
                    @if (clickDataGroups != null)
                    {
                        foreach (var link in links)
                        {
                            <option value="@link">@link</option>
                        }
                    }
                    else
                    {
                        <p>No data available.</p>
                    }
                </select>
                <label asp-for="fStartDate" class="me-2">Start Date:</label>
                <input type="date" id="fStartDate" asp-for="fStartDate" required class="me-2" />
                <label asp-for="fEndDate" class="me-2">End Date:</label>
                <input type="date" id="fEndDate" asp-for="fEndDate" required class="me-2" />
                <button type="submit" class="btn btn-primary me-2">Filter</button>
            </form>
        </nav>

        <div class="col-12 p-1">
            <div class="row">
                <div class="col-12 p-2">
                    @if (clickDataGroups != null)
                    {
                        <table>
                            <thead>
                                <tr class="bg-body-tertiary">
                                    <th>
                                        <a href="?tab=Stats&sortColumn=Link&sortOrder=@(sortOrder == "asc" ? "desc" : "asc")" class="px-4">Link</a>
                                    </th>
                                    <th align="center">
                                        <a href="?tab=Stats&sortColumn=Clicks&sortOrder=@(sortOrder == "asc" ? "desc" : "asc")">Clicks</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var group in clickDataGroups)
                                {
                                    <tr class="border-bottom">
                                        <td class="px-4">@group.Link</td>
                                        <td align="center">@group.ClickCount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span class="information">
                            No data available.
                        </span>
                    }
                </div>
            </div>

        </div>
    </div>
    
    @if (Globals.isAdmin)
    {
        <div class="pt-3 mb-1">
            <a href="/Admin" class="btn btn-outline-success me-2" type="button">
                <i class="fa fa-arrow-left me-2" aria-hidden="true"></i>
                Return to admin dashboard
            </a>
        </div>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function updateViewBasedOnQuery() {
            var urlParams = new URLSearchParams(window.location.search);
            var tab = urlParams.get('tab');

            switch (tab) {
                case 'Edit':
                    $("#showView").removeClass("active");
                    $("#showEdit").addClass("active");
                    $("#showStats").removeClass("active");
                    $("#View").hide();
                    $("#Edit").show();
                    $("#Stats").hide();
                    break;
                case 'Stats':
                    $("#showView").removeClass("active");
                    $("#showEdit").removeClass("active");
                    $("#showStats").addClass("active");
                    $("#View").hide();
                    $("#Edit").hide();
                    $("#Stats").show();
                    break;
                default:
                    $("#showView").addClass("active");
                    $("#showEdit").removeClass("active");
                    $("#showStats").removeClass("active");
                    $("#View").show();
                    $("#Edit").hide();
                    $("#Stats").hide();
                    break;
            }
        }

        // Call the function on page load
        updateViewBasedOnQuery();
    });

    $("form").submit(function (event) {
        var queryString = window.location.search;
        if (queryString) {
            var action = $(this).attr("action");
            $(this).attr("action", action + queryString);
        }
    });

    document.getElementById('ImageFile').addEventListener('change', function (event) {
        var fileInput = event.target;
        var file = fileInput.files[0];
        if (file) {
            var sanitizedFileName = file.name.replace(/[^a-zA-Z0-9.]/g, '_');
            var dataTransfer = new DataTransfer();
            var newFile = new File([file], sanitizedFileName, { type: file.type });
            dataTransfer.items.add(newFile);
            fileInput.files = dataTransfer.files;
        }
    });
</script>